@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Inconsolata&display=swap');

:root {
    --fonte: #90a8e0;
    --cor1: #293041;
    --cor2: #313A4E;
    --cor3: #414d67;
    --cor4: #202633;
    --equal: #59698D;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3));
}

main#calculator {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: var(--cor1);
    width: 400px;
    height: 470px;
    border-radius: 15px;
    transition: width .05s, height .05s;
    transition-timing-function: ease;
}

div#operations {
    background-color: var(--cor4);
    color: var(--fonte);
    font-family: 'Inconsolata', monospace;
    height: 100px;
    text-align: right;
    border-radius: 10px 10px 0px 0px;
}

div#previous_operation {
    padding: 15px 5px 0px 0px;
}


div#calculator_display {
    background-color: var(--cor4);
    color: var(--fonte);
    font: normal 39px 'Inconsolata', monospace;
    padding-top: 20px;
    text-align: right;
    border-radius: 10px 10px 0px 0px ;
}

div#calculator__keys{
    background-color: var(--cor1);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0px 0px 10px 10px;
}

button {
    font: normal 23px 'Golos Text', sans-serif;
    background-color: var(--cor2);
    color: var(--fonte);
    border-radius: 0;
    border: 0;
    height: 74px;
    cursor: pointer;
}

#decimal {
    border-radius: 0px 0px 0px 9px;
}

#key_equal {
    background-image: linear-gradient(to bottom, var(--equal), #515d79);
    grid-column: -2;
    grid-row: 2 / span 4;
    height: 299px;
    border-radius: 0px 0px 10px 0px;
}

#key_equal:hover, button:hover {
    background-color: var(--cor3);
    border: 2px solid var(--cor1);
    transform: translate(-1px, -1px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.661);
    transition: transform .2s, border 1s;
}

#key_del {
    display: none;
}
